$lbgc : rgba(50, 50, 50, 1);
$lfc : rgb(200, 200, 200);
$lihover : rgb(0, 0, 0);
* {
    font-family: consolas, calibri;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
}

li {
    a {
        display: block;
        width: auto;
        background-color: $lbgc;
        padding: 10px;
        color: $lfc;
        text-decoration: none;
        width: auto;
    }


}
